@charset "utf-8";
.main{
	border: 1px gray solid;
	text-align: center;
	height: 80px;
}
#menu {
	text-align:center;
	height:100%;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding:0;
}


#menu tr td {
	padding:0px;
	width:200px;
	height:88px;
	border:2px solid gray;
	border-left: 2px solid gray;
	border-right: 2px solid gray;
	
}

.menu_con{
	 position: relative;
	 top:30px;
}

#menu tr td a {
	color: #fff;
	height:86.5px;
	font-size: 1.2em;
	text-decoration: none;
	display :block;
	background: url("../img/menu_bg1.gif") top left;
}

#menu tr td a:hover {
	background: url('../img/menu_bg_active.gif') top left;
}

#menu tr td:first-child { border-left: 4px solid gray; }
#menu tr td:last-child { border-right: 4px solid gray; }


.context{
	height: 800px;
	border: 1px gray solid;
}
.con_rmenu{
	text-align:center;
	height: 50px;
}

.footer{
	text-align:center;
	line-height: 50px;
	border: 1px gray solid;
}